USE [master]
GO
/****** Object:  Database [higher_edu]    Script Date: 1/31/2018 6:43:31 PM ******/
CREATE DATABASE [higher_edu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'higher_edu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\higher_edu.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'higher_edu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\higher_edu_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [higher_edu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [higher_edu]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[id] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[college_details]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[college_details](
	[cid] [varchar](50) NULL,
	[cname] [varchar](max) NULL,
	[address] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[uid] [varchar](50) NULL,
	[feedback] [varchar](max) NULL,
	[date] [varchar](max) NULL,
	[time] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[main_stream]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[main_stream](
	[id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[stream] [varchar](50) NULL,
	[features] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[marks_details]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marks_details](
	[uid] [varchar](50) NULL,
	[course] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
	[marks] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[questions]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[questions](
	[qid] [varchar](50) NULL,
	[type] [varchar](max) NULL,
	[question] [varchar](max) NULL,
	[a1] [varchar](max) NULL,
	[a2] [varchar](max) NULL,
	[a3] [varchar](max) NULL,
	[a4] [varchar](max) NULL,
	[ans] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[register]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[register](
	[sid] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[ssc] [varchar](50) NULL,
	[hsc] [varchar](50) NULL,
	[uname] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[results]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[results](
	[uid] [varchar](50) NULL,
	[apti] [varchar](50) NULL,
	[maths] [varchar](50) NULL,
	[eng] [varchar](50) NULL,
	[ssc] [varchar](50) NULL,
	[hsc] [varchar](50) NULL,
	[course] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[stream]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stream](
	[st] [varchar](50) NULL,
	[cid] [varchar](50) NULL,
	[cname] [varchar](50) NULL,
	[mainstream] [varchar](50) NULL,
	[stream] [varchar](50) NULL,
	[cutoff] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trainingdata]    Script Date: 1/31/2018 6:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trainingdata](
	[mstream] [varchar](50) NULL,
	[stream] [varchar](50) NULL,
	[apti] [varchar](50) NULL,
	[maths] [varchar](50) NULL,
	[eng] [varchar](50) NULL,
	[ssc] [varchar](50) NULL,
	[hsc] [varchar](50) NULL,
	[ssc_subject1] [varchar](50) NULL,
	[sscm1] [varchar](50) NULL,
	[ssc_subject2] [varchar](50) NULL,
	[sscm2] [varchar](50) NULL,
	[ssc_subject3] [varchar](50) NULL,
	[sscm3] [varchar](50) NULL,
	[hsc_subject1] [varchar](50) NULL,
	[hscm1] [varchar](50) NULL,
	[hsc_subject2] [varchar](50) NULL,
	[hscm2] [varchar](50) NULL,
	[hsc_subject3] [varchar](50) NULL,
	[hscm3] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[admin] ([id], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[college_details] ([cid], [cname], [address]) VALUES (N'8001', N'Thakur College', N'Mumbai')
INSERT [dbo].[feedback] ([uid], [feedback], [date], [time]) VALUES (N'1001', N'good app', N'2018/01/20', N'6:41 PM')
INSERT [dbo].[main_stream] ([id], [name], [stream], [features]) VALUES (N'1001', N'BCOM', N'Commerce', N'3 years course')
INSERT [dbo].[main_stream] ([id], [name], [stream], [features]) VALUES (N'1002', N'BSCIT', N'Science', N'3 year graduation degree')
INSERT [dbo].[main_stream] ([id], [name], [stream], [features]) VALUES (N'1003', N'BA', N'Arts', N'Bachelor of arts for arts student 3 years degree')
INSERT [dbo].[marks_details] ([uid], [course], [subject], [marks]) VALUES (N'1001', N'SSC', N'Maths', N'80')
INSERT [dbo].[marks_details] ([uid], [course], [subject], [marks]) VALUES (N'1001', N'SSC', N'Science', N'50')
INSERT [dbo].[marks_details] ([uid], [course], [subject], [marks]) VALUES (N'1001', N'SSC', N'History', N'50')
INSERT [dbo].[questions] ([qid], [type], [question], [a1], [a2], [a3], [a4], [ans]) VALUES (N'101', N'Apptitude', N'A man has Rs. 480 in the denominations of one-rupee notes, five-rupee notes and ten-rupee notes. The number of notes of each denomination is equal. What is the total number of notes that he has ?', N'45', N'60', N'75', N'90', N'90')
INSERT [dbo].[questions] ([qid], [type], [question], [a1], [a2], [a3], [a4], [ans]) VALUES (N'102', N'Apptitude', N'There are two examinations rooms A and B. If 10 students are sent from A to B, then the number of students in each room is the same. If 20 candidates are sent from B to A, then the number of students in A is double the number of students in B. The number of students in room A is:', N'20', N'80', N'100', N'200', N'100')
INSERT [dbo].[questions] ([qid], [type], [question], [a1], [a2], [a3], [a4], [ans]) VALUES (N'103', N'Apptitude', N'The price of 10 chairs is equal to that of 4 tables. The price of 15 chairs and 2 tables together is Rs. 4000. The total price of 12 chairs and 3 tables is:', N'Rs. 3500', N'Rs. 3750', N'Rs. 3840', N'Rs. 3900', N'Rs. 3900')
INSERT [dbo].[register] ([sid], [name], [mobile], [email], [ssc], [hsc], [uname], [password]) VALUES (N'1001', N'Mary', N'7123456789', N'mary@gmail.com', N'50', N'70', N'mary', N'mary123')
INSERT [dbo].[results] ([uid], [apti], [maths], [eng], [ssc], [hsc], [course]) VALUES (N'1001', N'3', N'1', N'5', N'50', N'70', N'BA,BEd,BFA')
INSERT [dbo].[stream] ([st], [cid], [cname], [mainstream], [stream], [cutoff]) VALUES (N'6001', N'8001', N'Thakur College', N'Commerce', N'BCOM', N'70')
INSERT [dbo].[stream] ([st], [cid], [cname], [mainstream], [stream], [cutoff]) VALUES (N'6002', N'8001', N'Thakur College', N'Arts', N'BA', N'70')
INSERT [dbo].[stream] ([st], [cid], [cname], [mainstream], [stream], [cutoff]) VALUES (N'6003', N'8001', N'Thakur College', N'Science', N'BSCIT', N'70')
INSERT [dbo].[trainingdata] ([mstream], [stream], [apti], [maths], [eng], [ssc], [hsc], [ssc_subject1], [sscm1], [ssc_subject2], [sscm2], [ssc_subject3], [sscm3], [hsc_subject1], [hscm1], [hsc_subject2], [hscm2], [hsc_subject3], [hscm3]) VALUES (N'BA', N'Arts', N'5', N'5', N'5', N'50', N'50', N'Maths', N'50', N'English', N'50', N'History', N'50', N'English', N'50', N'History', N'60', N'Political Science', N'50')
INSERT [dbo].[trainingdata] ([mstream], [stream], [apti], [maths], [eng], [ssc], [hsc], [ssc_subject1], [sscm1], [ssc_subject2], [sscm2], [ssc_subject3], [sscm3], [hsc_subject1], [hscm1], [hsc_subject2], [hscm2], [hsc_subject3], [hscm3]) VALUES (N'BEd', N'Arts', N'4', N'5', N'4', N'55', N'54', N'History', N'50', N'Hindi', N'60', N'Science', N'50', N'English', N'60', N'Political Science', N'60', N'Sociology', N'65')
INSERT [dbo].[trainingdata] ([mstream], [stream], [apti], [maths], [eng], [ssc], [hsc], [ssc_subject1], [sscm1], [ssc_subject2], [sscm2], [ssc_subject3], [sscm3], [hsc_subject1], [hscm1], [hsc_subject2], [hscm2], [hsc_subject3], [hscm3]) VALUES (N'BFA', N'Arts', N'5', N'4', N'4', N'51', N'50', N'Hindi', N'60', N'History', N'50', N'Science', N'51', N'Geography', N'75', N'Economics', N'55', N'Pyschology', N'55')
USE [master]
GO
